<!DOCTYPE html>
<html>
<head>

</head>
<body>
<table>
    <tr>
      <th style='text-align:center'>File</th>
      <th style='text-align:center'>Similar File</th>
      <th style='text-align:center'>Similarity Score</th>
    </tr>
    {% for dict in information %}
    <tr>
      <td style='text-align:center'>{{dict.file}}</td>
      <td style='text-align:center'>{{dict.similar_file}}</td>
      <td style='text-align:center'>{{dict.similarity_score}}</td>
    </tr>
      {% endfor %}

  </table>
</body>
</html>