# python==3.7
django==3.2
djangorestframework==3.12.2
django-cors-headers==3.4.0
celery==5.2.7
django-celery-beat==2.4.0
django-solo==2.0.0
docx==0.2.4
python-docx==0.8.11
thefuzz==0.19.0
olefile==0.46
# for celery importy error install
# importlib-metadata==4.8.3
django-redis==5.0.0